

.buttons {
    margin : 30% 0 30% 0;
}

ion-item.item-has-focus > ion-label {
    color: #C4227D ;
}

.smallText {
    font-size:.65em;
}
a{
    color: #C4227D;
  }
  
.loginForm{
    margin-top: 30%;
}

