.profile-pic {
    margin : 10% auto;
    width: 80%;
    border-radius: 10% !important;
    overflow: hidden;
    border: 3px solid #C4227d;
    }
        
.pic-button {
    margin-top: 10%;
    font-size: .6em;
    width: 88%;
}

.bot-button {
    margin-top:10%;
    font-size:.65em;
    width:100%;
}

// action-sheet-title sc-ion-action-sheet-md{
//     --background: white;
//     --color: white;
// }