
ion-item.item-has-focus > ion-label {
    color: #C4227D ;
}

a{
    color: #C4227D;
  }

.round{
    border-radius: 50%!important;
}

.buttons{
    text-align:center;
  }
.pic-buttons{
  margin-top: 10%;
}
.sign-up-button {
    width: 50%;
    margin: 10px auto;
  }
.padding-0 {
  padding-right:0;
  padding-left:0;
}

.margin-0 {
  margin-right:0;
  margin-left: 0;
}