
ion-item.item-has-focus > ion-label {
    color: #C4227D ;
}

a{
    color: #C4227D;
  }

.round{
    border-radius: 50%!important;
}

.buttons{
    text-align:center;
  }
  
  ion-button {
    width: 50%;
    margin: 10px auto;
  }