<ion-content>

  <div class="ion-margin">
    <ion-text color="light">
      <h2>Bienvenue sur </h2>
      <ion-text color="fuschia">
        <h2>C.A.R.I.N.E</h2>
      </ion-text>
    </ion-text>
  </div>

  <div class="logo" size="3">
    <ion-img src="../assets/img/logo.png"></ion-img>
  </div>

  <div class="buttons">
    <ion-button class="ion-text-center" color="fuschia" routerLink="/login">Login</ion-button><br>
    <ion-button color="fuschia" routerLink="/signup">Sign Up</ion-button>
  </div>
</ion-content>
